.SellContainer
  %header.SellHeader
    %h1
      = link_to image_tag("material/logo/logo.png", alt: "サンプル画像"), "/"
  %main.SellNewContainer
    %section.ResistCard
      %h2 支払い方法
    = form_with model: nil, local: true do |f|
      .CardFormPanel
        .CardInputField
          .CardInputField__heading
            %label{for: "card_card_number"} カード番号
            %span.Require 必須
          .CardInputField__form
            = f.text_field :card_number, id: "card_number_form", placeholder: "1234 5678 1234 5678", required: true
          
        .CardInputField
          .CardInputField__heading
            %label{for: "card_exp_month"} 有効期限
            %span.Require 必須
          .CardInputField__form
            = f.text_field :card_number, id: "card_number_form", placeholder: "1234 5678 1234 5678", required: true
        .CardInputField
          .CardInputField__heading
            %label{for: "card_security"} セキュリティーコード
            %span.Require 必須
          .CardInputField__form
            = f.text_field :card_number, id: "card_number_form", placeholder: "1234 5678 1234 5678", required: true

  %footer.SellFooter
    %nav
      %ul
        %li
          = link_to 'プライバシーポリシー', "#"
        %li
          = link_to 'フリマ利用規約', "#"
        %li
          = link_to '特定商取引に関する表記', "#"
    = link_to image_tag("material/logo/logo-white.png", alt: "ロゴ画像"), "/"
    %p
      %small
        ©FURIMA
