.SellContainer
  %header.SellHeader
    %h1
      = link_to image_tag("material/logo/logo.png", alt: "サンプル画像"), "/"
  %main.SellNewContainer
    %section.ResistCard
      %h2 支払い方法
    = form_with model: nil, local: true do |f|
      .CardFormPanel
        .CardInputField
          .CardInputField__heading
            %label{for: "card_card_number"} カード番号
            %span.Require 必須
          .CardInputField__form
            = f.text_field :card_number, id: "card_number_form", placeholder: "1234 5678 1234 5678", required: true
        .CardInputField
          .CardInputField__heading
            %label{for: "card_exp_month"} 有効期限
            %span.Require 必須
          .CardInputField__form
            = f.select :exp_month, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"]], { include_blank: "---" }, { id: "exp_month_form", class: "ExpDate", required: true }
            %span.ApartMonth 月
            = f.select :exp_year, [["21", "21"], ["22", "22"], ["23", "23"], ["24", "24"], ["25", "25"], ["26", "26"], ["27", "27"], ["28", "28"], ["29", "29"], ["30", "30"], ["31", "31"]], { include_blank: "---" }, { id: "exp_year_form", class: "ExpDate", required: true }
            %span.ApartYear 年
        .CardInputField
          .CardInputField__heading
            %label{for: "card_security"} セキュリティーコード
            %span.Require 必須
          .CardInputField__form
            = f.text_field :card_security, id: "cvc_form", placeholder: "カード背面4桁もしくは3桁の番号", required: true
          .CardInputField__annotation
            = icon('fas', 'question-circle')
            カード裏面の番号とは？
        = f.submit "登録する", class: "DefaultBtn BlueBtn"
        = link_to credit_cards_path, class: "BackBtn" do
          もどる
  %footer.SellFooter
    %nav
      %ul
        %li
          = link_to 'プライバシーポリシー', "#"
        %li
          = link_to 'フリマ利用規約', "#"
        %li
          = link_to '特定商取引に関する表記', "#"
    = link_to image_tag("material/logo/logo-white.png", alt: "ロゴ画像"), "/"
    %p
      %small
        ©FURIMA
