= render "top_header"
.breadcrumbs_logo
  - breadcrumb :user 
  = breadcrumbs separator: " &rsaquo; ",class:"logo"
%main.UserShow
  .BackBoard
    = render "side_bar"
    .MainBody
      %section.MyPageUser
        = link_to "#" do
          %figure
            = image_tag 'material/icon/member_photo_noimage_thumb.png'
          %h2.Bold
            = @user.nickname
          .TradeCount
            .TradeCount__segment
              評価
              %span.Bold 0
            .TradeCount__segment
              出品数
              %span.Bold
                = @selling_item
      %section.MyPageContent
        %h2.MyPageContent__title 出品した商品
        %ul.ContentTabs
          %li.Tab1
            %h3 出品中
          %li.Tab2.Active
            %h3 売却済み
        .ContentPanes
          %ul.Pane1
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
          %ul.Pane2.Show
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState.Done
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
      %section.MyPageContent
        %h2.MyPageContent__title 購入した商品
        %ul.ContentTabs
          %li.Tab1
            %h3 お気にいり
          %li.Tab2.Active
            %h3 購入済み
        .ContentPanes
          %ul.Pane1
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
          %ul.Pane2.Show
            %li.NotFound
              購入した商品がありません
= render "advertising_&_footer"