%header.TopMenu
  .TopContainer
    .TopContainer__topBar
      %h1.TopContainer__logo
        = link_to "/" do
          = image_tag 'material/logo/logo.png', class: 'TopLogo'
        %span<>
      .SearchForm
        = form_with url:'#', class: "SearchForm__form", method: :get, local: true do |f|
          = f.search_field :name, class: "SearchForm__area", placeholder: "キーワードから探す"
          = f.label :name, class: "SearchForm__icon" do
            = image_tag 'material/icon/icon-search 1.png', class: 'SearchForm__image'
            = f.submit class: "SearchForm__btn"
    .TopContainer__listBar
      %ul.LeftList
        %li.LeftList__item
          = link_to "#" do
            = icon('fas', 'list-ul')
            %span カテゴリーから探す
        %li.LeftList__item
          = link_to "#" do
            = icon('fas', 'tags')
            %span ブランドから探す
      %ul.RightList
        %li.RightList__item
          = link_to "#" do
            = icon('fas', 'star')
            お気に入り一覧(工事中)
        %li.RightList__item.RightList__item--member
          = link_to '/users/:id' do
            = image_tag 'material/icon/member_photo_noimage_thumb.png', class: 'MemberImage'
            %span マイページ
%main.UserShow
  .BackBoard
    .SideBar
      %nav.SideNav
        %ul.SideNavBox
          %li
            = link_to "/users/:id", class: "SideNavBox__list", rel: "nofollow" do
              マイページ
              = icon('fas', 'chevron-right')
          %li
            = link_to "/items/new", class: "SideNavBox__list", rel: "nofollow" do
              出品する
              = icon('fas', 'chevron-right')
          %li
            = link_to "#", class: "SideNavBox__list", rel: "nofollow" do
              出品した商品 - 出品中
              = icon('fas', 'chevron-right')
          %li
            = link_to "#", class: "SideNavBox__list", rel: "nofollow" do
              出品した商品 - 売却済み
              = icon('fas', 'chevron-right')
          %li
            = link_to "#", class: "SideNavBox__list", rel: "nofollow" do
              購入した商品
              = icon('fas', 'chevron-right')
        %h3.SideTitle 設定
        %ul.SideNavBox
          %li
            = link_to "#", class: "SideNavBox__list", rel: "nofollow" do
              支払い方法
              = icon('fas', 'chevron-right')
          %li
            = link_to "#", class: "SideNavBox__list", rel: "nofollow", method: "delete" do
              ログアウト
              = icon('fas', 'chevron-right')
    .MyPage
      %section.MyPageUser
        = link_to "#" do
          %figure
            = image_tag 'material/icon/member_photo_noimage_thumb.png', class: ''
          %h2.Bold
            山田太郎
          .TradeCount
            .TradeCount__segment
              評価
              %span.Bold 0
            .TradeCount__segment
              出品数
              %span.Bold 0
      %section.MyPageContent
        %h2.MyPageContent__title 出品した商品
        %ul.ContentTabs
          %li.Tab1
            %h3 出品中
          %li.Tab2.Active
            %h3 売却済み
        .ContentPanes
          %ul.Pane1
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
          %ul.Pane2.Show
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState.Done
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
      %section.MyPageContent
        %h2.MyPageContent__title 購入した商品
        %ul.ContentTabs
          %li.Tab1
            %h3 お気にいり
          %li.Tab2.Active
            %h3 購入済み
        .ContentPanes
          %ul.Pane1
            %li
              = link_to "#", class: "PaneList" do
                %figure
                  = image_tag 'material/icon/icon_category.png'
                .ItemInfo
                  .ItemIntro
                    商品説明：あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよ
                  .ItemState
                    取引完了
                = icon('fas', 'chevron-right')
            %li.PaneBottom
              = link_to "#" do
                一覧を見る
          %ul.Pane2.Show
            %li.NotFound
              購入した商品がありません

.AppAdvertising
  .MyPageAd
    %h2.MyPageAd__copy だれでもかんたん、人生を変えるフリマアプリ
    %p.MyPageAd__promo 今すぐ無料ダウンロード
    .MyPageAd__btn
      = link_to "#", class: "appbtn" do
        = image_tag 'material/pict/appbtn.svg'
      = link_to "#", class: "googlebtn" do
        = image_tag 'material/pict/googlebtn.svg'
%footer.BottomMenu
  %ul.ListMenu
    %li.BottomList
      %h2.BottomList__title
        FURIMAについて
      %ul
        %li
          = link_to "/" do
            会社概要(運営会社)
        %li
          = link_to "/" do
            プライバシーポリシー
        %li
          = link_to "/" do
            FURIMA利用規約
        %li
          = link_to "/" do
            ポイントに関する特約
    %li.BottomList
      %h2.BottomList__title
        FURIMAを見る
      %ul
        %li
          = link_to "/" do
            カテゴリー一覧
        %li
          = link_to "/" do
            ブランド一覧
    %li.BottomList
      %h2.BottomList__title
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "/" do
            FURIMAガイド
        %li
          = link_to "/" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "/" do
            お知らせ
  .BottomMenu__logo
    = link_to "/" do
      = image_tag 'material/logo/logo-white.png'
  %p © FURIMA
