%header.TopMenu
  .TopContainer
    .TopContainer__topBar
      %h1.TopContainer__logo
        = link_to root_path do
          = image_tag 'material/logo/logo.png', class: 'TopLogo'
        %span<>
      .SearchForm
        = form_with url:'#', class: "SearchForm__form", method: :get, local: true do |f|
          = f.search_field :name, class: "SearchForm__area", placeholder: "キーワードから探す"
          = f.label :name, class: "SearchForm__icon" do
            = image_tag 'material/icon/icon-search 1.png', class: 'SearchForm__image'
            = f.submit class: "SearchForm__btn"
    .TopContainer__ListBar
      %ul.LeftList
        %li.LeftList__Item
      %ul.RightItems
        %li.RightList__Item
%main.UserShow
  .BackBoard
    .SideBar
      %nav.SideNavList
    .MyPage
.LinkToDlsite
%footer.BottomMenu