.ItemList
  = link_to item_path(item.id) do
    %figure.ItemList__image
      = image_tag item.item_image.image.url
      - if item.trading_status == 2
        .SoldMark
          %span.SoldMark__heading
            SOLD
    .ItemList__info
      %h3.ItemName
        = item.name
      .ItemText
        %ul
          %li 
            = number_with_delimiter(item.price, delimiter: ',')
            円
          %li
            = icon("fa", "star")
            0
        %p （税込）
