= render "users/top_header"
.ItemIndexBoard
  %section.TopAdvertise
    .TopAdPanel
      %h2.TopAdPanel__heading
        %br
        人生を変えるフリマアプリ
      %p.TopAdPanel__text
        FURIMAはだれでもかんたんに出品・購入ができる
        %br
        フリマアプリです
      .TopAdPanel__btn
        = link_to "#", class: "appbtn" do
          = image_tag 'material/pict/appbtn.svg'
        = link_to "#", class: "googlebtn" do
          = image_tag 'material/pict/googlebtn.svg'
  %section.FurimaReasons
    %h2.ReasonTitle FURIMAが選ばれる3つの理由
    %ul.ReasonLists
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 1
          = image_tag 'material/pict/pict-reason-01.jpg'
        %h3.ReasonList__heading
          %span 3分
          ですぐに出品
        .ReasonList__text
          スマホで入力するだけで簡単に出品できる
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 2
          = image_tag 'material/pict/pict-reason-02.jpg'
        %h3.ReasonList__heading
          %span シンプル
          で使いやすい
        .ReasonList__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 3
          = image_tag 'material/pict/pict-reason-03.jpg'
        %h3.ReasonList__heading
          手数料
          %span 業界最安
        .ReasonList__text
          10％でお得に出品＆購入！
  %section.FurimaAdvertise
  %section.FurimaFeatures
  %section.ItemIndex
  %section.ItemIndex
= render "users/advertising_&_footer"