= render "users/top_header"
.ItemIndexBoard
  %section.TopAdvertise
    .TopAdPanel
      %h2.TopAdPanel__heading
        %br
        人生を変えるフリマアプリ
      %p.TopAdPanel__text
        FURIMAはだれでもかんたんに出品・購入ができる
        %br
        フリマアプリです
      .TopAdPanel__btn
        = link_to "#", class: "appbtn" do
          = image_tag 'material/pict/appbtn.svg'
        = link_to "#", class: "googlebtn" do
          = image_tag 'material/pict/googlebtn.svg'
  %section.FurimaReasons
    %h2.ReasonTitle FURIMAが選ばれる3つの理由
    %ul.ReasonLists
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 1
          = image_tag 'material/pict/pict-reason-01.jpg'
        %h3.ReasonList__heading
          %span 3分
          ですぐに出品
        .ReasonList__text
          スマホで入力するだけで簡単に出品できる！
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 2
          = image_tag 'material/pict/pict-reason-02.jpg'
        %h3.ReasonList__heading
          %span シンプル
          で使いやすい
        .ReasonList__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.ReasonList
        .ReasonList__image
          %span.ReasonNumber 3
          = image_tag 'material/pict/pict-reason-03.jpg'
        %h3.ReasonList__heading
          手数料
          %span 業界最安
        .ReasonList__text
          10％でお得に出品＆購入！
  %section.FurimaAdvertise
    .FurimaAdCopy
      %h2.FurimaAdCopy__heading
        会員数日本一位
      %p.FurimaAdCopy__text
        FURIMAは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です！
        ほしかったあの商品に出会えるかもしれません
      .FurimaAdCopy__btn
        = link_to "#", class: "appbtn" do
          = image_tag 'material/pict/appbtn.svg'
        = link_to "#", class: "googlebtn" do
          = image_tag 'material/pict/googlebtn.svg'
  %section.FurimaFeatures
    %h2.FeatureTitle
      FURIMAの特徴
    .Features
      %section.Feature
        %figure.Feature__image
          = image_tag "material/icon/icon-01.png"
        %h3.Feature__heading
          簡単に売り買いできる
        %p.Feature__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.Feature
        %figure.Feature__image
          = image_tag "material/icon/icon-03.png"
        %h3.Feature__heading
          売上金は即日振込みに対応
        %p.Feature__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.Feature
        %figure.Feature__image
          = image_tag "material/icon/icon-04.png"
        %h3.Feature__heading
          様々な支払いに対応
        %p.Feature__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.ItemIndexContainer
    %h2.ItemIndexHeading
      ピックアップカテゴリー
    .IndexPanel
      .IndexCategory
        = link_to root_path do
          %h3.ListHeading 新規投稿商品
      .ItemLists
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
        .ItemList
          = link_to "#" do
            %figure.ItemList__image
              = image_tag "material/icon/icon-02.png"
            .ItemList__info
              %h3.ItemName
                名前:namenamenamenamenamenamename
              .ItemText
                %ul
                  %li 1,000円
                  %li
                    = icon("fa", "star")
                    0
                %p （税込）
  %section.ItemIndexContainer
= render "users/advertising_&_footer"