.SellContainer
  %header.SellHeader
    %h1
      = link_to image_tag("material/logo/logo.png", alt: "サンプル画像"), "/"
  %main.SellNewContainer
    = form_with model: nil, html: {class: "RegistrationForm"}, local: true do |f|
      .FormItemPanel
        %label
          出品画像
        %span.FormItemPanel__Require
          必須
        %p.FormItemPanel__InnerText
          最大５枚までアップロードできます
        .FormItemPanel__Image
          .FormItemPanel__Imagepartition
          .FormItemPanel__Imagebox
            = f.label :image, class: "FormItemPanel__Inputimage" do
              = f.file_field :image, class: 'Hidden'
              .FormItemPanel__Cen
                = icon("fa","camera", class:"FormItemPanel__Icon")
                %p.FormItemPanel__Image-innerText
                  クリックしてファイルをアップロード
