= render "items/resister_header"
.buymain
  .buymain-block
    .buymain-inner
      .buymain-title
        %h2 購入内容の確認
      .buymain-lists
        .buymain-lists-block
          .buymain-lists-left
            =image_tag @item.item_image.image.url
            %p
              = @item.name
          .buymain-lists-right
            %p.p-left 送料別(税込)
            %p.p-right
              ￥
              = @item.price
      .buymain-payment
        .buymain-payment-block
          .buymain-payment-left
            %p 支払い金額
          .buymain-payment-right
            %p
              ￥
              = @item.price
      .buymain-method
        %h2 支払い方法
        - if @card.blank?
          = link_to new_credit_card_path, class: "buymain-method-newcard" do
            登録してください
        - else
          .buymain-method-block
            %p<>
              ************
              = @card_info.last4
            %p
              有効期限
              = @card_exp
            =image_tag @card_logo
      .buymain-address
        %h2 配送先
        .buymain-address-block
          .buymain-address-left
            %p 〒760-0019
            %p 香川県 高松市 サンポート
            %p かきくけ さしす
          .buymain-address-right
            %p 変更する >
      .buymain-perchase
        = link_to pay_items_path(@item.id), class: "DefaultBtn BlueBtn", method: :post do
          購入する
= render "items/resister_footer"