.items
  .items__show
    .items__show--name
      トレーナー
    .items__show--image
    .items__show--price
      ¥3000
    .items__show--tax
      (税込) 送料込み
    .items__show--size
      Mサイズ
    .items__show--sentence
      %p 
        新品未使用です。
      %p
        自分には大きかったので出品します
    .items__show--info
      .items__show--info-name
        .items__show--info-name_type
          出品者
        .items__show--info-name_real
          .text
            たかし
      .items__show--info-category
        .items__show--info-category_type
          カテゴリー
        .items__show--info-category_real
          .text
            衣類
      .items__show--info-brand
        .items__show--info-brand_type
          ブランド
        .items__show--info-brand_real
          .text
            nike
      .items__show--info-condition
        .items__show--info-condition_type
          商品の状態
        .items__show--info-condition_real
          .text
            とても良い
      .items__show--info-tax
        .items__show--info-tax_type
          配送料の負担
        .items__show--info-tax_real
          .text
            送料込み
      .items__show--info-howto
        .items__show--info-howto_type
          配送の方法
        .items__show--info-howto_real
          .text
            ゆうパック
      .items__show--info-location
        .items__show--info-location_type
          発送元の地域
        .items__show--info-location_real
          .text
            香川県
      .items__show--info-days
        .items__show--info-days_type
          発送日の目安
        .items__show--info-days_real
          .text
            ２〜3日
    .items__show--menu
      .items__show--menu-like
        = icon('fas', 'star', class: "star")
        お気に入り
      .items__show--menu-report
        = icon('fas', 'flag')
        不適切な商品を報告
  
  .items__comment
    = form_with local: true do |f| 
      = f.text_field :text, class: 'comment', placeholder: 'type a message'
      .items__comment--alart
        %p
          相手のことを考え丁寧なコメントを心がけましょう。 
        %p
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .items__comment--send
        = f.submit 'コメントする', class: 'send'
        = icon('fas', 'comment',class: "fukidasi")
  .items__other
    たかしさんのその他の出品その他の出品
    .items__other_wrapper
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .other-info
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
  .items__more
    衣類のその他の出品
    .items__more_wrapper
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")
      .more
        .image
        .under
          .show-message
            .text
              うどん
            .price
              %p
                5000円
              %p
                (税込） 
          = icon('fas', 'star', class: "star")